[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/Mevelec/glfw
	branch = master
[submodule "GameEngine/vendor/imgui"]
	path = GameEngine/vendor/imgui
	url = https://github.com/Mevelec/imgui.git
	branch = docking
[submodule "GameEngine/vendor/glm"]
	path = GameEngine/vendor/glm
	url = https://github.com/g-truc/glm/
	branch = master
[submodule "GameEngine/vendor/rapidjson"]
	path = GameEngine/vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "GameEngine/vendor/libmorton"]
	path = GameEngine/vendor/libmorton
	url = https://github.com/Forceflow/libmorton
[submodule "GameEngine/vendor/FastNoiseSIMD"]
	path = GameEngine/vendor/FastNoiseSIMD
	url = https://github.com/Mevelec/FastNoiseSIMD.git
[submodule "GameEngine/vendor/objl"]
	path = GameEngine/vendor/objl
	url = https://github.com/Mevelec/OBJ-Loader.git
[submodule "GameEngine/vendor/GlindingList"]
	path = GameEngine/vendor/GlindingList
	url = https://github.com/Mevelec/GlindingList.git
